<div class= "container">
  <div class= "row">
    <div class= "col-md-3 mt-5">
      <%= render "public/shared/game_sidebar", game_genres: @game_genres %>
      <%#= render "public/shared/gameform", game: @game %>
    </div>
    <div class= "col-md-9 my-5">
      <h2 class= "product-headline head-line text-left">
        <% if @game_genre.present? %>
          <%= @game_genre.game_genre_name %>
        <% else %>
          ゲーム一覧
        <% end %>
        <span>(全<%= @games.total_count %>件中 <%= @games.count %>件）</span>
      </h2>

      <div class= "row text-center">
        <% @games.each do |game| %>
          <div class= "col-md-3 mt-5">
            <div class= "item_image">
              <%= link_to game_path(game) do %>
                <%= image_tag game.game_image %>
              <% end %>
            </div>
            <p class= "game_name">
              <%= link_to game_path(game) do %>
                <%= game.game_name %>
              <% end %>
            </p>
            <div id="rate_<%= game.id %>"></div>
            <script>
              raty(document.querySelector('#rate_<%= game.id %>'),
              {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'game_comment[rate]',
              score: <%= game.game_comments.average(:rate) %>,
              readOnly: true
              });
            </script>
            <p class= "price">
              <%= game.price %>(税込）
            </p>
            <!--<p class= "rate">-->
            <!--  <%#= game.game_comments.average(:rate) %>-->
            <!--</p>-->
            <p class= "game_comments_counter">
              <%= render 'public/shared/game_comments_counter', game: game %>
            </p>
            <!--いいね総カウント-->
          </div>
        <% end %>
      </div>
      <%= paginate @games %>
    </div>
  </div>
</div>