<div class="container">

  <div class="row" style="margin-top:25px;">
   <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h1>ゲーム新規投稿</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
    <%= form_with model: @game, url: games_path do |f| %>
      <div class="table table-borderless">
        <% if @rakuten.present? %>
          <div class= "game_image">
            <div>
              <% @rakuten.each do |r| %>
                <%= image_tag r['mediumImageUrl'] %>
                <%= f.hidden_field :game_image, value: r['mediumImageUrl'] %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class= "game_name">
          <%= f.label :game_name, "ゲームタイトル" %>
          <%= f.text_field :game_name, :placeholder => "ゲームタイトル", size: 47 %>
        </div>
        <div class= "game_genre">
          <%= f.label :game_genre_id, "ゲームジャンル" %>
          <%= f.collection_select :game_genre_id, GameGenre.all, :id, :game_genre_name, {include_blank: "--選択してください--"} %>
        </div>
        <div class= "game_caption">
          <%= f.label :game_caption, "ゲーム説明" %>
          <%= f.text_area :game_caption, :placeholder => "ここに説明文を記述します", size: "50x3" %>
        </div>
        <div class= "game_system">
          <%= f.label :system, "システム要件" %>
          <%= f.text_area :system, :placeholder => "ここにシステム要件を記述します", size: "50x3" %>
        </div>
        <div class= "game_system">
          <%= f.label :development, "開発元" %>
          <%= f.text_area :development, :placeholder => "ここに開発元を記述します", size: "50x3" %>
        </div>
        <div class= "game_release">
          <%= f.label :release, "リリース日" %>
          <%= f.date_select :release, selected: Date.today %>
        </div>
        <div class= "game_price">
          <%= f.label :price, "税込価格" %>
          <%= f.number_field :price, :placeholder => "1000" %>円
        </div>
      </div>
      <%= f.submit "新規登録", class: 'btn btn-success btn-lg' %>
    <% end %>
    </div>
  </div>
</div>