<div class= "container">
  <div class= "row">
    <!--<div class= "col-2 md-3 mt-5 offset-2">-->
    <div class= "col-md-2 mt-5">
      <%= render 'public/shared/game_sidebar', game_genres: @game_genres %>
    </div>
    <div class= "col-9 md-9 my-5 offset-1">
      <div class= "game_image" style="margin-bottom:40px;">
        <%= image_tag (game['mediumImageUrl'][0]) %>
      </div>
      <div class= "game" style="margin-bottom:20px;">
        <h3><b><%= @game.game_name %></b></h3>
        <div id="rate_<%= @game.id %>"></div>
            <script>
              $('#rate_<%= @game.id %>').empty();
              raty(document.querySelector('#rate_<%= @game.id %>'),
              {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'game_comment[rate]',
              score: <%= @game.game_comments.average(:rate) %>,
              readOnly: true
              });
            </script>
        <br>
        <h5><%= @game.game_genre.game_genre_name %></h5>
        <br>
        <h5><%= @game.game_caption %></h5>
        <br>
        <h5><%= @game.system %></h5>
        <br>
        <h5><%= @game.release %></h5>
        <br>
        <h5><%= @game.development %></h5>
      </div>
      <h3 class= "mt-5">
        ¥ <%= (@game.price*1.1).floor.to_s(:delimited) %>
        <span class= "tax">(税込)</span>
      </h3>
      <div>
        <% if admin_signed_in? %>
          <%= link_to "編集する", edit_game_path(@game), class: "btn btn-sm btn-success edit_game_#{@game.id}" %>
          <%= link_to "削除する", game_path(@game.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_game_#{@game.id}" %>
        <% end %>
        <% if @game.user == current_user %>
          <%= link_to "編集する", edit_game_path(@game), class: "btn btn-sm btn-success edit_game_#{@game.id}" %>
        <% end %>
      </div>

      <div class="game-comments-index">
        <%= render "public/shared/game_comments_index", game: @game %>
      </div>
      <%= render "public/shared/game_comments_form", game: @game, game_comment: @game_comment %>

      <div id= "game_<%= @game.id %>">
        <%= render "public/shared/game_goods", game: @game %>
      </div>
    </div>
  </div>
</div>