<%= form_with(model: device_comment, url: device_comments_path, local: false) do |f| %>
  <div class= "comment-title">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, :placeholder => "コメントタイトル", size: 47 %>
  </div>
  <div class= "comment-body">
    <%= f.label :body, "コメント" %><br>
    <%= f.text_area :body, rows:'5',placeholder: "コメントをここに", class: "w-100 comment-textarea" %>
    <%= f.hidden_field :device_id, value: device.id %>
  </div>
  <div id="post_raty"></div>
  <%= f.submit "送信する", class: "btn btn-success pull-right" %>
<% end %>

<script>
  var ele = document.querySelector('#post_raty');
  if (ele) ele.innerHTML = "";
  raty(document.querySelector('#post_raty'),{
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
  scoreName: 'device_comment[rate]'
   });
</script>