<div class="container">

  <div class="row" style="margin-top:25px;">
   <div class="col-sm-8 px-sm-0 offset-sm-">
      <h1>ゲーム新規登録</h1>
    </div>
  </div>

  <div class="row">
    <table class="col-12 new_game-table tablebordered">
    <%= form_with model: [:game, game] do |f| %>
      <thead class="table active">
        <tr>
          <th>ゲーム投稿</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr>
          <th><%#= f.label :game_image, "ゲーム商品画像" %></th>
          <td><%#= f.file_field :game_image, accept: "image/*" %></td>
        </tr>-->
        <tr>
          <th><%= f.label :game_name, "ゲームタイトル" %></th>
          <td><%= f.text_field :game_name, :placeholder => "ゲームタイトル", size: 47 %></td>
        </tr>
        <tr>
          <th><%= f.label :game_genre_id, "ゲームジャンル" %></th>
          <td><%= f.collection_select :game_genre_id, GameGenre.all, :id, :game_genre_name, {include_blank: "--選択してください--"} %></td>          </tr>
        <tr>
          <th><%= f.label :game_caption, "ゲーム説明" %></th>
          <td><%= f.text_area :game_caption, :placeholder => "ここに説明文を記述します", size: "50x3" %></td>
        </tr>
        <tr>
          <th><%= f.label :system, "システム要件" %></th>
          <td><%= f.text_area :system, :placeholder => "ここにシステム要件を記述します", size: "50x3" %></td>
        </tr>
        <tr>
          <th><%= f.label :development, "開発元" %></th>
          <td><%= f.text_area :development, :placeholder => "ここに開発元を記述します", size: "50x3" %></td>
        </tr>
        <tr>
          <th><%= f.label :release, "リリース日" %></th>
          <td><%= f.date_select :release, Date.today %></td>
        </tr>
        <tr>
          <th><%= f.label :price, "税抜価格" %></th>
          <td><%= f.number_field :price, :placeholder => "1000" %>円</td>
        </tr>
      </tbody>
      <%= f.submit "新規登録", class: 'btn btn-success btn-lg' %>
    <% end %>
    </table>
  </div>
</div>