<table class= "table table-bordered">
  <tbody>
      <% game.game_comments.each do |game_comment| %>
      <tr>
        <td><%= game_comment.user.username %></td>
        <td><%= game_comment.title %></td>
        <td><%= game_comment.body %></td>
        <td>
          <div id="rate_<%= game_comment.id %>"></div>
          <script>
            raty(document.querySelector('#rate_<%= game_comment.id %>'),
            {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'game_comment[rate]',
            score: <%= game_comment.rate ||= 0 %>,
            readOnly: true
            });
          </script>
        </td>
        <td>
          <div id= "game_comment_<%= game_comment.id %>">
            <%= render "public/shared/game_comment_goods", game_comment: game_comment %>
          </div>
        </td>
        <td>
          <% if game_comment.user == current_user %>
            <%= link_to "編集する", edit_game_comment_path(game_comment), class: "btn btn-sm btn-success edit_game_comment#{game.id}" %>
            <%= link_to "削除する", game_path(game_comment), method: :delete, data: {confirm: '本当に消しますか？' }, class: "btn btn-sm  btn-danger destroy_game_comment#{game.id}", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

