<table>
  <tbody>
      <% game.game_comments.each do |game_comment| %>
      <tr>

        <td>
          <%= link_to user_path(game_comment.user) do %>
            <%#= image_tag book_comment.user.get_profile_image, size: "100x100" %><br>
            <%= game_comment.user.username %>
          <% end %>
        </td>
        <td><%= game_comment.title %></td>
        <td><%= game_comment.body %></td>
        <td>
          <div id="rate_<%= game_comment.id %>"></div>
        </td>
        <td>
          <% if game_comment.user == current_user %>
            <%= link_to "削除する", game_comment_path(game_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <script>
        raty(document.querySelector('#rate_<%= game_comment.id %>'),
        {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'game_comment[rate]',
          score: <%= game_comment.rate ||= 0 %>,
          readOnly: true
        });
      </script>
      <% end %>
  </tbody>
</table>

