<h2>検索結果</h2>
<h5 class= "col-sm-8 px-sm-0 offset-sm-1">
  検索結果がない場合は
  <%= link_to new_game_path do %>
    ゲーム投稿
  <% end %>
  、
  <%= link_to new_device_path do %>
    デバイス投稿
  <% end %>
  へ
</h5>

<!--table class="table table-hover table-inverse"-->
<div class="container">
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "Game" %>
      <% @games.each do |game| %>
      <div class="row">
          <div class="col-3">
            <%#= link_to game_path(game) do %>
              <%= image_tag ( game['mediumImageUrl']) %>
            <%# end %>
          </div>
          <div class="col-4">
            <%#= link_to game_path(game) do %>
              <%= game.title %>
            <%# end %>
          </div>
          <div id="rate_<%= game.jan %>" class="col-3"></div>
            <script>
              raty(document.querySelector('#rate_<%= game.jan %>'),
              {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'game_comment[rate]',
              score: <%= game['reviewAverage'] %>,
              readOnly: true
              });
            </script>
          <div class="col-1"><%= game.item_price %>(税込)</div>
          <div class="col-1">
            <%= link_to new_game_path(jan: game.jan) do %>
              このゲームを登録する
            <% end %>
          </div>
      </div>
      <% end %>
  <% else %>
    <% @devices.each do |device| %>
      <div class="row">
          <div class="col-3">
            <%#= link_to device_path(device) do %>
              <%= image_tag ( device['mediumImageUrl']) %>
            <%# end %>
          </div>
          <div class="col-4">
            <%#= link_to device_path(device) do %>
              <%= device.title %>
            <%# end %>
          </div>
          <div id="rate_<%= device.jan %>" class="col-3"></div>
            <script>
              raty(document.querySelector('#rate_<%= device.jan %>'),
              {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'device_comment[rate]',
              score: <%= device['reviewAverage'] %>,
              readOnly: true
              });
            </script>
          <div class="col-1"><%= device.item_price %>(税込)</div>
          <div class="col-1">
            <%= link_to new_device_path(jan: device.jan) do %>
              このゲームを登録する
            <% end %>
          </div>
      </div>
      <% end %>
  <% end %>
</table>