<div class="container">
  <div class="row mt-5">
    <div class="order-text col-sm-12 px-sm-0" style="margin-bottom:15px;">
      <h4><b>デバイスコメント履歴一覧</b></h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12 px-sm-0">
      <div class="thead-light">
          <div class="col-md-2">コメント日時</div>
          <div class="col-md-3">タイトル</div>
          <div class="col-md-2">コメント内容</div>
          <div class="col-md-2">レビュー</div>
      </div>
      <div class= "device_comments">
        <% @device_comments.each do |device_comment| %>
          <div class= "device_comment">
            <div><%= device_comment.created_at.strftime('%Y年/%m月/%d日') %></div>
            <div><%= device_comment.title %></div>
            <div><%= device_comment.body.truncate(10, omission: '…') %></div>
            <div>
              <div id="rate_<%= device_comment.id %>"></div>
              <script>
                raty(document.querySelector('#rate_<%= device_comment.id %>'),
                {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'device_comment[rate]',
                score: <%= device_comment.rate ||= 0 %>,
                readOnly: true
                });
              </script>
            </div>
            <div class= "googs_count">
              <!--いいね総カウント-->
            </div>
            <div>
              <%= link_to "表示する", device_comment_path(device_comment.id), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @device_comments %>
    </div>
  </div>
</div>