<div class="container">

  <div class="row"  style="margin-top:25px;">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>デバイス投稿編集</h4>
    </div>
  </div>
  <div class="row ml-5" style="margin-bottom:25px;">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <%= form_with model: @device, url: device_path(@device.id) do |f| %>
        <table class="table table-borderless text-secondary">
          <tr>
            <%= image_tag @device.device_image %>
          </tr>
          <tr>
            <th><%= f.label :device_name, "デバイスの名前" %></th>
            <td><%= f.text_field :device_name, :placeholder => "デバイスの名前", size: 47 %></td>
          </tr>
          <tr>
            <th><%= f.label :device_genre_id, "デバイスジャンル" %></th>
            <td><%= f.collection_select :device_genre_id, DeviceGenre.all, :id, :device_genre_name, {include_blank: "--選択してください--"} %></td>
          <tr>
            <th><%= f.label :device_caption, "デバイス説明" %></th>
            <td><%= f.text_area :device_caption, :placeholder => "ここに説明文を記述します", size: "50x3" %></td>
          </tr>
          <tr>
            <th><%= f.label :brand, "ブランド名" %></th>
            <td><%= f.text_area :brand, :placeholder => "ここにブランド名を記述します", size: "50x3" %></td>
          </tr>
          <tr>
            <th><%= f.label :price, "税込価格" %></th>
            <td><%= f.number_field :price, :placeholder => "1000" %>円</td>
          </tr>
        </table>
        <%= f.submit "変更を保存", class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>