<div class= "container">
  <div class= "row">
    <!--<div class= "col-2 md-3 mt-5 offset-2">-->
    <div class= "col-md-2 mt-5">
      <%= render 'public/shared/device_sidebar', device_genres: @device_genres %>
    </div>
    <div class= "col-9 md-9 my-5 offset-1">
      <div class= "device_image" style="margin-bottom:40px;">
        <%= image_tag @device.get_image(300, 300) %>
      </div>
      <div class= "device" style="margin-bottom:20px;">
        <h3><b><%= @device.device_name %></b></h3>
        <br>
        <h5><%= @device.device_genre %></h5>
        <br>
        <h5><%= @device.device_caption %></h5>
        <br>
        <h5><%= @device.brand %></h5>
        <br>
        <h5><%= @device.amazon %></h5>
      </div>
      <h3 class= "mt-5">
        ¥ <%= (@device.price*1.1).floor.to_s(:delimited) %>
        <span class= "tax">(税込)</span>
      </h3>
      <div>
        <% if admin_signed_in? %>
          <%= link_to "編集する", edit_device_path(@device), class: "btn btn-sm btn-success edit_device_#{@device.id}" %>
          <%= link_to "削除する", device_path(@device.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_device_#{@device.id}" %>
        <% end %>
        <% if @device.user == current_user %>
          <%= link_to "編集する", edit_device_path(@device), class: "btn btn-sm btn-success edit_device_#{@device.id}" %>
        <% end %>
      </div>

      <div class="device-comments-index">
        <%= render "public/shared/device_comments_index", device: @device %>
      </div>
      <%= render "public/shared/device_comments_form", device: @device, device_comment: @device_comment %>
    </div>
  </div>
  <!--<div class="row" style="margin-bottom:25px;">
    <div class= "col-md-2 cart">
      <%#= form_with(model: @cart_item, url: cart_items_path(@cart_item)) do |f| %>
        <div class= "text mx-2">
          <%#if @item.sale_status == true %>
            <%#= f.hidden_field :item_id, value: @item.id %>
            <%#= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
            <%#= f.submit "カートに入れる", class: "btn btn-success" %>
          <%# else %>
            <h3>売り切れ中</h3>
          <%# end %>
        </div>
      <%# end %>
    </div>

  </div>-->
</div>

