<div class= "container">
  <div class= "row">
    <!--<div class= "col-2 md-3 mt-5 offset-2">-->
    <div class= "col-md-3 mt-5">
      <%= render 'public/shared/device_sidebar', device_genres: @device_genres %>
    </div>
    <div class= "col-9 md-9 my-5 ">
      <div class= "device_image" style="margin-bottom:40px;">
        <%= image_tag @device.device_image %>
      </div>
      <div class= "device" style="margin-bottom:20px;">
        <h3><b><%= @device.device_name %></b></h3>
        <div id="rate2_<%= @device.id %>"></div>
          <script>
            $('#rate2_<%= @device.id %>').empty();
            raty(document.querySelector('#rate2_<%= @device.id %>'),
            {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'device_comment[rate]',
            score: <%= @device.device_comments.average(:rate) %>,
            readOnly: true
            });
          </script>
        <div id= "device_<%= @device.id %>">
          <%= render "public/shared/device_goods", device: @device %>
        </div>
        <br>
        <h5>ジャンル：<%= @device.device_genre.device_genre_name %></h5>
        <br>
        <h5><%= @device.device_caption %></h5>
        <br>
        <h5>メーカー：<%= @device.brand %></h5>
      </div>
      <h3 class= "mt-5">
        ¥ <%= (@device.price).floor.to_s(:delimited) %>
        <span class= "tax">(税込)</span>
      </h3>
      <div>
        <% if admin_signed_in? %>
          <%= link_to "編集する", edit_device_path(@device), class: "btn btn-sm btn-success edit_device_#{@device.id}" %>
          <%= link_to "削除する", device_path(@device.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_device_#{@device.id}" %>
        <% end %>
        <% if @device.user == current_user %>
          <%= link_to "編集する", edit_device_path(@device), class: "btn btn-sm btn-success edit_device_#{@device.id}" %>
        <% end %>
      </div>

      <div class="device-comments-index">
        <%= render "public/shared/device_comments_index", device: @device %>
      </div>
      <%= render "public/shared/device_comments_form", device: @device, device_comment: @device_comment %>
    </div>
  </div>
</div>

