<div class="container">
  <div class="row mt-5">
    <div class="order-text col-sm-12 px-sm-0" style="margin-bottom:15px;">
      <h4><b>ゲームコメント履歴一覧</b></h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12 px-sm-0">
      <div class="thead-light">
        <th class="col-md-2">コメント日時</th>
        <th class="col-md-3">タイトル</th>
        <th class="col-md-2">コメント内容</th>
        <th class="col-md-2">レビュー</th>
      </div>
      <div class= "game_comments">
        <% @game_comments.each do |game_comment| %>
          <div class= "game_comment">
            <div><%= game_comment.created_at.strftime('%Y年/%m月/%d日') %></div>
            <div><%= game_comment.title %></div>
            <div><%= game_comment.body.truncate(10, omission: '…') %></div>
            <div>
              <div id="rate_<%= game_comment.id %>"></div>
              <script>
                raty(document.querySelector('#rate_<%= game_comment.id %>'),
                {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'game_comment[rate]',
                score: <%= game_comment.rate ||= 0 %>,
                readOnly: true
                });
              </script>
            </div>
            <div class= "goods_count">
             <!--いいね総カウント-->
            </div>
            <div>
              <%= link_to "表示する", game_comment_path(game_comment.id), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @game_comments %>
    </div>
  </div>
</div>

