<div class='container px-5 px-sm-0'>
  <div class='row' style="margin-top:25px;">
    <div class="col-sm-10 px-sm-0 mx-auto mb-3">
      <h4><%= @user.username %>さんの会員情報編集</h4>
    </div>
  </div>
  <div class="row-sm-8 px-sm-0 mx-auto">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <table class="table table-borderless text-secondary">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tboby>
      </table>
    </div>
  </div>
  <div class="row-sm-8 px-sm-0 mx-auto">
    <%= form_with model: @user, url: admin_user_path, local:true do |f| %>
    <div class="form-group col-sm-10 px-sm-0 mx-auto">
      <%= f.label :"ユーザーネーム", class: "col-sm-3 control-label" %>
      <%= f.text_field :username %>
    </div>
    <div class="form-group col-sm-10 px-sm-0 mx-auto">
      <%= f.label :"性別", class: "col-sm-3 control-label" %>
      <%= f.radio_button :gender, "man", checked: true %><%= f.label :gender, "男性" %>
      <%= f.radio_button :gender, "woman" %><%= f.label :gender, "女性" %>
    </div>
    <div class="form-group col-sm-10 px-sm-0 mx-auto">
      <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
    </div>
    <div class="form-group col-sm-10 px-sm-0 mx-auto">
      <%= f.label :"会員ステータス", class: "col-sm-3 control-label" %>
      <%= f.radio_button :is_deleted, false, checked: true %><%= f.label :is_deleted, "有効" %>
      <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会" %>
    </div>
    <div class="actions col-sm-10 px-sm-0 mx-auto text-center">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
