<div class="container">

  <div class="row" style="margin-top:25px;">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4><b>ゲームジャンル一覧・追加</b></h4>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <%= form_with model: [:admin, @game_genre] do |f| %>
      <table class="table table-borderless">
        <tr>
          <p>
            <b><%= f.label :"ゲームジャンル名" %> </b>
            <%= f.text_field :game_genre_name, :placeholder => "ゲームジャンル名" %> 
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </p>
        </tr>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row px-5">
　  <div class="col-md-6">
      <table class="table text-secondary">
        <thead>
          <tr>
            <th>ゲームジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @game_genres.each do |game_genre| %>
          <tr>
            <td><%= game_genre.game_genre_name %></td>
            <td><%= link_to "編集する", edit_admin_game_genre_path(game_genre.id), class:'btn btn-success' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
