<div class="container my-2 py-4">
  <div class="row my-4">
    <h3 class="col-2 text-center"><b>マイページ</b></h3>
  </div>

  <div class="row mb-1">
    <h5 class="col-2">登録情報</h5>
    <%= link_to "編集する", edit_user_path(@user), class: "btn btn-sm btn-success px-4" %>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <th>性別</th>
          <td><% if @user.gender == "man" %>
                <td class="text-success font-weight-bold">男性</td>
              <% else %>
                <td class="text-muted font-weight-bold">女性</td>
              <% end %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <h6 class="col-2">コメント一覧</h6>
        <%= link_to "一覧を見る", game_comment_path,  class: "btn btn-sm btn-primary px-4" %>
  </div>
  <div class="row mt-4">
    <h6 class="col-2">投稿いいね一覧</h6>
        <%= link_to "一覧を見る", goods_users_path,  class: "btn btn-sm btn-primary px-4" %>
  </div>
  <div class="row mt-4">
    <h6 class="col-2">コメントいいね一覧</h6>
        <%= link_to "一覧を見る", comment_goods_users_path,  class: "btn btn-sm btn-primary px-4" %>
  </div>
</div>