<header class="border-bottom" style="background-color: #003366","padding:10px;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="navbar-brand">
        <% if admin_signed_in? %>
          <%= link_to admin_game_genres_path, class:'navbar-brand' do %>
          <%= image_tag 'logo.png', :size => '100x100' %>
          <% end %>
        <% else %>
          <%= link_to root_path, class:'navbar-brand' do %>
            <%= image_tag 'logo.png', :size => '100x100' %>
          <% end %>
        <% end %>
      </div>

      <div class="user-name" style= "color: #FFFFFF;">
        <br>
        <% if user_signed_in? %>
          <p><b>ようこそ、<%= current_user.username %>様</b></p>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto navbar-inline">

        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_game_comments_path, class: 'nav-link text-light' do %>
              <i class="fas fa-dragon"></i> ゲーム投稿コメント一覧
            <% end %>
          </li>
          <li>
            <%= link_to  admin_device_comments_path, class: 'nav-link text-light' do %>
              <i class="fas fa-gamepad"></i> デバイス投稿コメント一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path, class: 'nav-link text-light' do %>
              <i class="fab fa-jedi-order"></i> ユーザー一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_game_genres_path, class: 'nav-link text-light' do %>
              <i class="fas fa-dragon"></i> ゲームジャンル一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_device_genres_path, class: 'nav-link text-light' do %>
              <i class="fas fa-gamepad"></i> デバイスジャンル一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <% elsif user_signed_in? %>

          <li>
            <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
              <i class="fab fa-pagelines"></i> マイページ
            <% end %>
          <li>
            <%= link_to games_path, class: 'nav-link text-light' do %>
              <i class="fas fa-dragon"></i> ゲーム一覧
            <% end %>
          </li>
          <li>
            <%= link_to devices_path, class: 'nav-link text-light' do %>
              <i class="fas fa-gamepad"></i> デバイス一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <% else %>

          <li>
            <%= link_to about_path, class: 'nav-link text-light' do %>
              <i class="fas fa-stroopwafel"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to games_path, class: 'nav-link text-light' do %>
              <i class="fas fa-dragon"></i> ゲーム一覧
            <% end %>
          </li>
          <li>
            <%= link_to devices_path, class: 'nav-link text-light' do %>
              <i class="fas fa-gamepad"></i> デバイス一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class= "text-right">
      <%= render "layouts/search" %>
    </div>
  </nav>
</header>