<!DOCTYPE html>
<html>
  <head>
    <title>Enjoy GAME生活</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照します。
    stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照するようになります。-->
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>