<div class="container my-5">
  <div class="row">
    <div class="text-center">
      <h4 class="table-active text-center px-3">
        デバイス・周辺機器コメント一覧
      </h4>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table table-hover">
      <thead>
        <tr class="table-active text">
          <th>コメント日時</th>
          <th>ユーザーネーム</th>
          <th>タイトル</th>
          <th>コメント内容</th>
          <th>レビュー</th>
        </tr>
      </thead>
      <tbody>
        <% @device_comments.each do |device_comment| %>
          <tr class="light-text">
            <td>
              <%= device_comment.created_at.strftime('%Y年/%m月/%d日 %H:%M:%S') %>
            </td>
            <td><%= game_comment.username %></td>
            <td><%= game_comment.title %></td>
            <td><%= game_comment.body.truncate(10, omission: '…') %></td>
            <td>
              <div id="rate_<%= device_comment.id %>"></div>
              <script>
                raty(document.querySelector('#rate_<%= device_comment.id %>'),
                {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'device_comment[rate]',
                score: <%= device_comment.rate ||= 0 %>,
                readOnly: true
                });
              </script>
            </td>
            <td>
              <%= link_to "表示する", admin_device_comment_path(device_comment.id), class: "btn btn-success" %>
              <%= link_to "削除する", admin_device_comment_path(device_comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_device_comment_#{device_coment.id}" %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @device_comments %>
  </div>
</div>